.footer{
    background: $footer;
    padding: 10rem 15rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include custom_media(826){
        padding: 10rem 8rem;
    }
    @include custom_media(734){
        padding: 10rem 6rem;
        grid-template-columns: none;
        grid-template-rows: 1fr 19rem;
    }
    &__about{
        margin-bottom: 6rem;
        &-logo{
            width: 15rem;
            margin-bottom: 4rem;
        }
        &-description{
            @include subtitle-font;
            width: 60%;
            margin-bottom: 4rem;
        }
        // &-form{}
        &-newsletter{
            width: 40%;
            font-size: 1.5rem;
            font-weight: 600;
            padding: 1.7rem 2rem;
            width: 55%;
            border: 1px solid $description-color;
            border-radius: .6rem;
            color:  $primary-title;
            box-shadow: $default-shadow;
            font-weight: 400;
            &:focus{
             border: 1px solid $primary;
             & ~ .footer__about-submit {
             border: 1px solid $secondary;

             }
             @include responsive(phone-1){
                 width: 78%;
             }

            }
            &::placeholder{
                color: $description-color;
                font-size: 1.7rem;
                font-weight: 400;
            }
        }
        &-submit{
            background: $secondary;
            color: #ffffff;
            padding: 1.7rem 2rem 1.6rem;
            font-size: 1.5rem;
            border-top-right-radius: .6rem;
            border-bottom-right-radius: .6rem;
            margin-left: -1rem;
            @include responsive(iphone){
                padding: 1.9rem 2rem 1.8rem 2rem;
            }
        }
    }

    &__links{
        display: flex;
        justify-content: space-around;
        &-list{
            font-size: 2.5rem;
            // &--one{}
            &--two{
                margin-left: 8rem;
            }

            &-item{
                &:first-child{
                    font-weight: 600;
                    margin-bottom: 1rem;
                    color: $primary-title;
                }

                &:not(:first-child) {
                    font-weight: 200;
                    color: $description-color;
                }
            }
        }
    }
}

.subfooter{
    background: $footer;
    padding: 3rem 15rem;
    color: $description-color;
    font-size: 2rem;
    border-top: 1px solid $light-gray;
    .fab{
        margin-left: 1rem !important;
    }

    @include responsive(iphone){
        padding: 3rem 4rem;
    }

    &__container{
        display: flex;
        justify-content: space-between;
        @include responsive(iphone){
            flex-direction: column;
            align-items: center;
        }
        &-social{
            display: flex;
            align-items: baseline;
        }
        // &-text{}
    }
    // &__copyright{}
}